name: Unittest

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  Unittest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
    - name: Test
      run: go test ./bkaudit -v -coverprofile=cover.out
    - name: Upload coverage reports
      uses: codecov/codecov-action@v3
